.error404{
	.site-header{
		background: #333;
	}
	.site-content{
		margin:115px 0 0 0;
	}
	
	.page-header{
		margin:0px;
		padding:25px 0;
		text-align:center;
		
		h1{
			font-family:$TinosBold;
			font-size:60px;
			line-height:60px;
			color:#000;	
			margin:0px;
			padding:0px;
		}	
	}
	
	.page-content{
		background:url(http://maxwell.sonderdev.com/wp-content/uploads/2016/03/tiff_large.jpg) no-repeat 0 0;
		width:100%;
		padding:200px 0;
		margin:0px;
		text-align:center;
		background-size:cover;
		min-height:500px;
		
		.pagecontent_404{
			margin:0px;
			padding:50px 0;
			
				h2{
					font-family:$TinosBold;
					font-size:60px;
					line-height:60px;
					margin:0 0 20px;
					padding:0px;	
					color:#fff;				
				}
				p{
					font-family:$TinosRegular;
					font-size:20px;
					line-height:22px;
					color:#fff;	
					margin:0 0 40px;
					padding:0px;				
				}
				span{
					margin:0px;
					padding:0px;
					display:block;
						
						a{
							padding: 13px 30px;
							border: 1px solid #b5964e;
							color: #fff;
							text-decoration: none;
							transition: all 250ms ease;
							display: inline-block;
							font-family: "Montserrat-Regular", sans-serif;
							text-transform: uppercase;
							font-size: .75rem;
							letter-spacing: 2px;										
							
							&:hover{
								background:#b5964e;
							}
						}
						
				}
				
				
		}
	}
}