.stories-container {
  @include fixed-grid();

  @media #{$bp-mobile} {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  	width:96%;
  }
}


.stories-filters {
  .col-4 {
    width:30%;
    margin-right:1.5%;
    margin-left:1.5%;
    @media #{$bp-mobile} {
      width:100%;
  	  margin:0px;
    }
  }
  .category-select {
    &:after {
      content: '<>';
      font: 17px "Consolas", monospace;
      color: #333;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 11px;
      /*Adjust for position however you want*/

      top: 18px;
      padding: 0 0 2px;
      border-bottom: 1px solid #999;
      /*left line */

      position: absolute;
      pointer-events: none;
    }
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding:10px;
    margin: 0px;
    padding: 7px 10px;
    font-size: 17px;
    color:$dark-grey;
    line-height: 18px;
    width: 100%;
    border:0;
    background: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color:$c-white;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
  }

  .search {
    margin: 0px;
    padding: 8px 10px;
    font-size: 17px;
    color: $c-black;
    line-height: 18px;
    border:0;
    background-color:$c-white;
    width: 100%;
    float: left;
    font-family: $font-family-base;
    letter-spacing:1px;
    text-transform:uppercase;
    margin-bottom:2rem;
  }
}

.stories-container * {
  .title {
    text-align: center;
  }
  .accent-text-subtitle {
    @media #{$bp-mobile} {
      font-size: 4rem;
      text-transform: none;
    }
    font-family: $PinyonScript;
    font-size: 6rem;
    text-transform: none;
  }

  .large-img-container, .small-img-container {
    height: 580px;
  }

  .large-img {
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 580px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .img-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 70%;
    }
    @media #{$bp-mobile} {
      height: 300px;
      .img-content {
        top: 30%;
      }
    }
  }

  .large-img-container {
    @media #{$bp-mobile} {
      height: 300px;
    }
  }

  .small-img-container {
    @media #{$bp-mobile} {
      height: 600px;
    }
  }

  .img-content {
    h4 {
      color: $c-white;
      font-size: 1.5rem;
    }
    a {
      @include button(8px, $c-white, $c-white, $gold);
    }
    padding: 40px;
  }

  /*=== Blog Page CSS =====================================================*/
  //.blog-page-top {
  //  margin:0 auto 25px;
  //  padding:15px 0;
  //  width:70%;
  //  display:table;
  //  @media #{$bp-mobile} {
  //    margin:0 auto 30px;
  //    width:90%;
  //  }
  //  @media #{$bp-mobile} {
  //    padding:15px 2%;
  //    width:100%;
  //  }
  //  .post-search{
  //    form{
  //      margin:0px;
  //      position:relative;
  //      width: 100%;
  //      input[type="text"]{
  //        margin: 0px;
  //        padding: 8px 10px;
  //        font-size: 17px;
  //        color: #fff;
  //        line-height: 18px;
  //        border: 1px solid #7d7d7d;
  //        width: 100%;
  //        float: left;
  //        background:none;
  //        font-family: $font-family-base;
  //        letter-spacing:1px;
  //        text-transform:uppercase;
  //      }
  //      input[type="submit"]{
  //        margin:0px;
  //        padding:0px;
  //        position:absolute;
  //        top:10px;
  //        right:15px;
  //        width:16px;
  //        height:16px;
  //        background-size:100%;
  //        border: none;
  //        text-indent: -9999px;
  //      }
  //
  //      ::-webkit-input-placeholder {
  //        color: #fff;
  //      }
  //      :-moz-placeholder { /* Firefox 18- */
  //        color: #fff;
  //      }
  //      ::-moz-placeholder {  /* Firefox 19+ */
  //        color: #fff;
  //      }
  //      :-ms-input-placeholder {
  //        color: #fff;
  //      }
  //
  //    }
  //  }
  //  .categories-list{
  //    @include span(4);
  //    font-size: 20px;
  //    color: #008cd7;
  //    line-height: 20px;
  //    form{
  //      margin:0px;
  //      padding:0px;
  //      float: left;
  //      width: 100%;
  //      /*@include breakpoint($mb-tab-max){
  //          width: 58%;
  //      }
  //      @include breakpoint($big-tab-min $big-tab-max){
  //          width: 58%;
  //      }
  //      @include breakpoint($mini-desk-min $desk-max){
  //          width: 58%;
  //      }*/
  //    }
  //    span{
  //      font-size: 18px;
  //      font-style:italic;
  //      float: left;
  //      line-height: 36px;
  //      margin: 0 10px 0 0;
  //      @media #{$bp-mobile} {
  //        font-size: 18px;
  //      }
  //    }
  //    select{
  //      margin:0px;
  //      padding:7px 10px;
  //      font-size: 17px;
  //      color: #fff;
  //      line-height: 18px;
  //      width: 100%;
  //      border: 1px solid #7d7d7d;
  //      background:none;
  //      font-family: $font-family-base;
  //      letter-spacing:1px;
  //      text-transform:uppercase;
  //      @media #{$bp-mobile} {
  //        width: 100%;
  //      }
  //
  //      option{
  //        color: #000;
  //        background:none;
  //        font-family: $font-family-base;
  //        letter-spacing:1px;
  //        text-transform:uppercase;
  //      }
  //    }
  //  }
  //  .archives-list{
  //    @include span(4 at 9);
  //    font-size: 20px;
  //    color: #008cd7;
  //    line-height: 20px;
  //    span{
  //      font-size: 18px;
  //      font-style:italic;
  //      margin: 0 10px 0 0;
  //      float: left;
  //      line-height: 36px;
  //    }
  //    select{
  //      margin:0px;
  //      padding:7px 10px;
  //      font-size: 17px;
  //      color: #fff;
  //      line-height: 18px;
  //      width: 100%;
  //      border: 1px solid #7d7d7d;
  //      background:none;
  //      font-family: $font-family-base;
  //      letter-spacing:1px;
  //      text-transform:uppercase;
  //      option{
  //        color: #000;
  //        background:none;
  //        font-family: $font-family-base;
  //        letter-spacing:1px;
  //        text-transform:uppercase;
  //      }
  //    }
  //  }
  //}
}