.page-id-80{
	.site-header{
		position: static;
		@media #{$bp-mobile} {
			position: absolute;
		}
	}

	.block-generic_content {
		padding-top: 0 !important;
		padding-bottom:0px;
		margin-bottom: 100px;
		@extend .clearfix;

		h3{
			font-family: $PinyonScript;
			font-size: 5rem;
			text-transform: capitalize;
			line-height: 130px;
			color:#333333;
			margin-bottom: 4rem;
		}
		.gc-content{
			margin:0px;
			padding:10px;
			background:#fff;
		}
		&.map-block {
			h3 {
				display: none;
			}
		}
	}

	.inner_page_page-content{
		background:#fff;
		padding:0px 100px 30px;
		@media #{$bp-mobile} {
			padding:0px 20px 30px;
		}

		h6{
			margin:0px;
			padding:0px;
			font-size: 15px;
			letter-spacing: 1px;
			color:#9e9e9e;
			text-transform:uppercase;
			font-family: $font-family-accent;				
		}
		a{
			font-family: $font-family-accent;
			font-size: 14px;
		}
	}
}

.map-overlay {
   background:transparent; 
   position:relative; 
   z-index: 1;
   width:100%;
   height:380px;
   top:380px;
   margin-top:-380px; 
}

.page-id-80 {
	.block-generic_content{
		.gc-wrap{
			padding-left: 0px;
			padding-right: 0px;
		}
	}
}