.gform_wrapper {
  margin: 0 auto !important;
  width: 50%;
  @media #{$bp-mobile} {
  		width: 90%;
  }
}
.gform_wrapper * {
  .gform_button {
  }

  textarea {
    outline: none;
    border:none;
  }
  input[type=text] {
    border:none;
  }
  input[type=submit] {
    @include button(8px, $gold, $gold, $c-white);
    background-color:transparent;
    text-align: center;
  }
}