.press-content {
	strong {
		font-family: Tinos-Bold, serif;
		font-size: 1.2rem;
	}
	a {
		font-family: Montserrat-Regular, sans-serif;
		font-size: .8rem;
		letter-spacing: 2px;
	}
	hr {
		opacity: .5;
	}
}