
.sample {
  @include container(1080px);

  .content {

    @media #{$bp-tall} {
      @include span(8);
    }
  }
  .sidebar {

    @media #{$bp-tall} {
      @include span(4 last);
    }
  }
  .animations {
    .wow {
      text-align: center;
      padding: .5em;
    }
  }
}
