.search-results, .search-no-results{
	.site-header{
		background: #333;
	}
	.site-content{
		margin:115px 0 0 0;
	}
	
	.page-header{
		margin:0px;
		padding:25px 0;
		text-align:center;
		
		h1{
			font-family:$TinosBold;
			font-size:42px;
			line-height:60px;
			color:#000;	
			margin:0px;
			padding:0px;
			text-transform: capitalize;
		}	
	}
.search_div{
	@include fixed-grid();
	width:95%;
	margin-bottom:3rem;
		@media #{$bp-mobile} {
			padding-top: 3rem;
		}
		@media #{$bp-tab-md} {
			padding-top: 1rem;
		}
	h2{
		font-size:30px;
	    text-transform: capitalize;
		margin-bottom:0px;
	}
	.page-content{
	    text-align: center;
	
		.search-form{
			float:none;
			display:inline-block;
			height: 40px;
			
			.search-submit{
			    float: right;
				margin-left:10px;
			    margin-top: 6px;
			}
		}		
	}	
	.navigation{
			margin:20px 0;
			padding:15px 0;
			border-top:1px solid #fff;
		}
}

}