.single-post * {
  //title content
  .title {
    .title-wrap, &.block-media .title-wrap { //extra rule for specificity
      h3 {
        font-family: $PinyonScript;
        text-transform: none;
        font-size: 5rem !important;
        line-height: 5rem !important;
        @media #{$bp-mobile} {
          font-size: 2rem;
          line-height: 2rem;
        }
      }
    }

  }
  //body content
  .gc-wrap {
    width: 90%;
    .gc-content {
      //drop cap
      &:first-letter {
        font-weight: bold;
        font-size: 3rem;
        margin-top: 1rem;
        float: left;
        line-height: 1rem;
        padding-right: 8px;
      }

      blockquote {
        font-style: italic;
        padding: 2rem 0 2rem 0;
        border-top: 1px solid $medium-grey;
        border-bottom: 1px solid $medium-grey;
        p {
          padding: 0;
          margin: 0;
          font-size: 1.3rem;
          line-height: 1.6rem;
        }
      }
    }
  }
}