.block-inner_page_content {
  padding-bottom: 0;
  padding-top: 0;

  .inner_page_page-content {
    @include fixed-grid();
    padding-top: 2rem;
    padding-bottom: 2rem;
  	width:96%;

    .block-arrow_link_list, .block-auto_link_list {
      padding-top: 0;
    }

    @media #{$bp-mobile} {
      padding-top: 0;
    }

  }
  .inner_page_bottom-content{
  		.block-three-image-grid{
			max-width:1200px;
			width:96%;
			margin:0 auto;
			@media #{$bp-mobile} {
			  width:100%;
			}
		}
  }

  .block-slider {

    .layout-content {
      padding-left: 0;
      padding-right: 0;
    }

  }

  .inner_page_top-content, .inner_page_page-content, .inner_page_bottom-content {

  }
	
  .inner_page_left-content{
		@media #{$bp-tab} {
			display: none;
		}
  }	
}