.block-about {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  @include fixed-grid();

  .layout-content {
    width: 100%;
    @media #{$bp-mobile} {
      height: auto;
    }
    @media #{$bp-tab} {
      padding: 0 30px;
    }

    .about-block-wrapper {
      .float-right {
        float: right;
        background:$c-white;
      }
      .col-4 {
        margin-right:0;
        width: 33.85%;
        @media #{$bp-mobile} {
          width: 100%;
          margin-top:20px;
          margin-bottom:20px;
        }
      }
      .col-8 {
        margin-right:0;
      }
      .inner-multi-content {
        &:after {
          content: "■";
          color: #b5964e;
          position: absolute;
          left: calc(33% - 2px);
          transform: rotate(45deg);
          font-size: 45px;
          top: 5rem;
          @media #{$bp-mobile} {
            font-size:0;
          }
        }

        .side-image {
          height: 270px;
          width: 100%;
          background-size: cover;
          background-position: top center;
          @media #{$bp-mobile} {
            height: 270px;
          }
        }
        .title-wrap {
          width: 100%;
          padding: 4rem;
          padding-bottom: 2rem;
          text-align: left;
  		  	@media #{$bp-mobile} {
    				padding: 2rem;
    			}
          span {
    		  	@include montserrat-reg();
            color:#a3a3a1;
      			line-height: 20px;
      			margin-bottom:20px;
      			display: block;
            /*font-family: $MontserratRegular;
            font-size:0.75rem;*/
          }
          h3 {
            font-family:$TinosItalic;
    		    font-size: 30px;
      			font-style: italic;
      			text-transform: capitalize;
    		    font-weight: 600;
      			letter-spacing: 0px;
      			color:#424242;
				line-height: 34px;
          }
          .content * {
            a {
              @include button(8px, $gold, $gold, $c-white);
            }
          }
    		  .content{
    		  	p{
      				font-family:$TinosRegular;
      				font-size: 20px;
    			    line-height: 30px;
      				color:#424242;
      			}
    		  }
        }

        @media #{$bp-mobile} {
          margin-bottom: 0;
        }
      } // inner-multi-content
    } // about-block-wrapper
  } // layout-content
}