.block-three_col {
  /*margin-left: -$grid-padding;
  margin-right: -$grid-padding;*/

  .three-col-wrap {
    @include fixed-grid();
    position: relative;
  }

  .col-4 {

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px solid $dark-grey;
    }

    &:nth-child(2) {
      &:before {
        left: 33%;
      }

    }
    &:nth-child(3) {
      &:before {
        left: 67%;
      }
    }
    &:first-child {
      &:before {
        border-left: none;
      }
    }
    // Collapse on mobile and remove border
    @media #{$bp-mobile} {
      &:before {
        border: none;
      }
      margin-bottom: 1.5rem;
    }
  }

  .three-col-content, .three-col-title, .three-col-image, .three-col-link {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }

  .three-col-image {

    img {
      width: 100%;
      max-width: 100%;
    }
  }
  .three-col-title {
    h4 {
      margin-top: 1.2rem;
      font-size: 1.05rem;
	    @include Tinos-Bold()
    }
  }

  .three-col-link {
    a {
      @include button(8px, $gold, $gold, $c-white);
    }
  }

}
.block-three_col.no-more-button{
	.three-col-wrap{
		.three-col-link{
			display:none;
		}
	}
	
}