.site-footer {
  min-height: 424px;
  background: $c-white;
  display: flex;
  align-items: center;
  font-family: $font-family-accent;

  p {
    font-size: .8rem;
    line-height: 1.5rem;
  }
}

.inner-footer {
  @extend .fixed-grid;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  @media #{$bp-mobile} {
    flex-direction: column;
  }
}

.site-footer-image {
  height: 264px;
}

.app-links {
  color: $gold;
  margin-top: 25px;
  margin-bottom: 50px;

  @media #{bp-mobile} {
    margin-bottom: 30px;
  }

  img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    width: 100px;
    height: 30px;
  }
}

.contact-info-block {
  margin-bottom: $bottom-margin;
  &.contact-info-block-last {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }

  @media #{$bp-mobile} {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.contact-info-social-list {
  @include listReset();
  margin-top: .5rem;

  @media #{$bp-mobile} {
    display: flex;
  }
}

.contact-info-social-list-item {
  .icon {
    fill: $gold;
    &:hover {
      fill: $gold * 1.1;
    }
  }
}

.footer-menu {
  .menu {
    @include listReset();
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    margin-bottom: 2rem;

    @media #{$bp-mobile} {
      flex-direction: column;
      align-content: center;
      justify-content: center;
      margin-bottom: 1rem;
    }

  }
  .menu-item {
    text-transform: uppercase;
    font-family: $font-family-accent;

    @media #{$bp-mobile} {
      width: 100%;
      text-align: center;
      padding: 1rem;
    }

    a {
      color: #333;
	  @include montserrat-reg();
      &:hover {
        color: $gold;
      }
    }
  }
}

.footer-image-container {
  @media #{$bp-mobile} {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.entry-footer, .post-navigation, .entry-header {
  display: none !important;
}