.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  //height: 115px;

  @media #{$bp-tab} {
    height: auto;
  }

  //TODO take this out
  //@media #{$bp-mobile} {
  //  visibility: hidden;
  //}

  &.inner-header {
    background: #333;
    position: relative;
    &.admin-bar-showing {
      top: 0;
    }
  }

  &.admin-bar-showing {
    top: 32px;
  }
  .header-logo {
    img {
      max-height: 100px;
      max-width: 100%;
      height: auto;
    }
  }

  .site-header-wrap {
    @include fixed-grid(20px);
    display: flex;
    align-items: center;
    height: 115px;

    @media #{$bp-tab-md} {
      height: auto;
	  display: block;
	  padding:8px 0;
    }
	.header-left{
		@media #{$bp-tab-md} {
			width: 100%;
			margin-left: 0;
		    margin-right: 0;

		}
	.header-logo{
		 @media #{$bp-tab-md} {
		 	    text-align: center;
		 }
	}
	}
  }

  .main-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu-header-container {
    flex: 1;
    ul {
      @include listReset();
      display: block;
	  padding-right:20px;
      align-items: center;
	  text-align: right;
      justify-content: space-around;
    }

  }
  .menu-item {
    position: relative;
	display: inline-block;
	margin:0 0 0 50px;
	@media #{$big-tab-max} {
		margin-left:25px;
	}
    &.current-page-ancestor, &.current-menu-item {

      &:after {
        content: "■";
        color: $c-white;
        position: absolute;
        left: calc(50% - 2px);
        transform: rotate(45deg);
        top: 1rem;
      }
    }
    a {
      color: $c-white;
      text-decoration: none;
      @extend .montserrat-reg;
    }
    .sub-menu {
      display: none;
      @media #{$bp-mobile} {
        display: inline;
      }
    }
	&:first-child{
		margin-left:0px;
	}
  }
}


.site{
	padding:0px;
}