.menu-label {
  display: none;
  font-size: 2rem;
  color: $c-white;
  background-color: $gold;
  width: 100vw;
  margin: 0;
  padding-top:1rem;
  padding-bottom:1rem;
  margin-left: -20px;
  text-align: left;
  margin-top: 0px;
  padding-left: 40px;
  position: relative;
  @include montserrat-reg();
  @media #{$bp-tab-md} {
    display:block;
    cursor: pointer;
  }
  
  	&:before{
		content: "\f0c9";
		color: #fff;
		font-size: 20px;
		font-family: FontAwesome;
		position: absolute;
		top: 13px;
		left: 12px;
	}
}
.mobile-menu {
  display: none;
  position: absolute;
  top: 0px;
  height: 100vh;
  width:100vw;
  left:0;
  @media #{$bp-tab-md} {
    display:inline;
  }
  .multilevelpushmenu_wrapper {
   	    z-index: 99;
    .multilevelpushmenu_inactive {
      background:transparent !important;
      width:100vw;
      min-width:100vw;
      h2 {
        color:$c-white;
        margin-left: 0.2rem;
        i {
          color:$c-white !important;
        }
      }
    }
    .backItemClass {
      background:$gold;
      color:$c-white;
      border-top:none;
      font-family: $MontserratRegular;
      a {
        color:$c-white !important;
        font-family: $MontserratRegular;
      }
    }
    li {
      &:hover {
        background-color:$gold;
        color:$c-white;
      }
    }
    .levelHolderClass {
      background:#212121;
	  padding-top: 1rem;
      transition: background .25s ease-in-out;
      &.multilevelpushmenu_inactive {
        background:transparent !important;
      }
      h2 {
        color:$c-white;
        margin-left: 0.2rem;
	    font-size: 1.2em;
      }
      ul {
        li {
          border-top:none;
          border-bottom:none;
          font-family: $MontserratRegular;
          a {
            color:$c-white;
            font-size: .75rem;
			text-transform: uppercase;
          }
        }
      }
    }
  }
}

.site-header-wrap .menu {
  display:inline;
  @media #{$bp-tab-md} {
    display:none !important;
  }
}