.block-slider {
  position: relative;
  padding-bottom: 0;
  padding-top: 0;


  .layout-content {
    @include fixed-grid();
    position: relative;
    @media #{$bp-mobile} {
      padding-left:0;
      padding-right:0;
    }
  }

  .colorbox {
    display: block;
  }

  .bg-image {
    width: 100%;
    background-size: cover;
    padding-bottom: 66.66%;
    background-repeat: no-repeat;

    @media #{$bp-mobile} {
      height:300px;
    }
  }
  .slider-block {
    height: 800px;
    .slick-slide {
      height: 800px;
      width: 100%;

      @media #{$bp-mobile} {
        height:300px;
      }
    }

    @media #{$bp-mobile} {
      height:300px;
    }

  }

  h3 {
    display: none;
  }

  .slick-arrow {
    position: absolute;
    top: calc(50% - 20px);
    z-index: 99;
  }
  .slick-prev, .slick-next {
    background: transparent;
    outline: none;
    border: none;
    svg {
      width: 40px;
      height: 40px;
      stroke: $c-white;
      fill: transparent;
    }
  }

  .slick-prev {
    left: 2.5%;
    svg {

    }
  }

  .slick-next {
    right: 2.5%;
    margin-top: 5px;
    svg {
      transform: rotate(180deg);
    }
  }
}

// Adjustment for inner-block module style

.inner_page_page-content {
  .block-slider {
    .bg-image {
      height: 580px;
	  @media #{$bp-mobile} {
      height:300px;
    }
    }
    .slider-block {
      height: 580px;
	  	@media #{$bp-mobile} {
			  height:300px;
		}
      .slick-slide {
        height: 580px;
		@media #{$bp-mobile} {
			  height:300px;
		}
      }
    }
  }
}
