.block-popout {
  text-align:left;
  font-size:0;
	.container{
		max-width:1200px;
		margin:0 auto;
		width:100%;
		
	}
  h3 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 100%;
  }

  &> div {
    padding: 0 5.875%;
  }

  .slide-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    font-size: 0;
    margin-bottom: 40px;
  	position: relative;
	
	&:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      border-left: 1px solid #cccccc;

      @media(max-width:767px) {
        border-left: none;
      }
    }
	&:nth-of-type(3n+1) {
	&:before {
        border-left: none;
      }
	}
    

	@media(max-width:767px){
		width: 100%;
		padding-left: 1.5%;
		padding-right: 1.5%;
    }
	@media(min-width:992px){
		width: 33%;
	}
    &.active, &:hover {
      .slide {    
      }
    }
    
    &.active{
    	.slide{
			.slide-text:after{
				content:'\2796';
			}
		}
    }

    .slide {
  	  position:relative;
      cursor: pointer;
  	  width: 80%;
  	  margin:0 auto;

      .bg-image {
    		position:relative;
        width: 100%;
        padding-bottom: 70%;
        background-size: cover;
        background-position: top center;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
      }

      .slide-text {
    		position:relative;
        padding: 20px 0 0 0;
    		text-align: center;
  
      	&:after{
    			content:'\2795';
    			position: absolute;
    			top:20px;
    			right:0;
    		}


        .title {
    			display: block;
    			margin-bottom: 0.25em;
    			font-weight: bold;
    			font-size: 23px;
    			text-transform: uppercase;
    			color: #b5964e;
    			letter-spacing: 3px;
        }
        
        .subtitle{
    			font-size: 16px;
    			font-family: $MontserratRegular;
    			color:#a3a3a1;
        }
      }
    }
  }
  .slide-wrapper.col-last{
  	width: 32.20%;
  	float:right;
  	margin-right:0px;
  }

  .slide-content {
  	white-space:normal;
    width: 92%;
    margin-left: 3.27%;
    margin-right: 1.27%;
    float: left;
    text-align:left;
    padding: 7% 13%;
    display: none;
    margin-bottom: 40px;
  	background:#fff;

    > *:last-child {
      margin-bottom: 0;
    }
  	p{
  		font-size: 20px;
  	}
  }

}