.block-media {

  &.hide-title {
    .title {
      .title-wrap {
        h3 {
          display: none;
        }
      }
    }
  }

  &.accent-text-subtitle {
    .title {
      .title-wrap {
        .subtitle {
          font-family: $PinyonScript;
          font-size: 6rem;
		  @media #{$bp-mobile} {
            font-size: 4rem !important;
			line-height:4rem !important;
          }
		  @media #{$bp-desk-lg} {
		  	font-size:4rem;
			line-height: 4rem;
		  }
        }
      }
    }
  }

  .title {
    padding-left: 0;
    padding-right: 0;
	@media #{$bp-mobile} {
		top:60%;
	}

    @media #{$bp-desk-lg} {
      padding-left: 20px;
      padding-right: 20px;
    }

    .title-wrap {

      h3 {
        font-size: 2rem;
      }

      .subtitle {
        font-size: 2.5rem;
      }
      a {
        @include button(8px, $light-gold, $light-gold, $c-white);
        text-decoration: none;
      }
    }

  }
}

.accent-text-subtitle {
  .layout-content {
    .gc-wrap {
      h3 {
        @extend .large-title;
      }
    }
  }
}

