.block-media {
  position: relative;
  font-size: 0; // to keep inline-block display of half-width elements correct
  padding-bottom: 0;
  padding-top: 0;


  &.small-height {

    .layout-content {
      height: 400px;
    }

    .bg-image {
      height: 400px;
    }
  }

  .layout-content {
    height: 80vh;
    width: 100%;
  }

  .img-block-wrap {
    @include fixed-grid();
    height: 100%;
  }

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh; // must match .layout-content
    width: 100%;
    background-size: cover;
    background-position: top center;
    overflow: hidden;

    .video {
      // should cover entire element
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

    .img-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

  }

  .title {
    @include vertical-align(relative);
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;

    &.left-align {
      text-align: left;
      .title-wrap {
        max-width: 100%;
      }
    }

    img {
      max-width: 100%;
      height: auto;
      margin-bottom: 35px;
    }

    .title-wrap {
      @media #{$bp-mobile} {
        max-width: 100%;
      }

      max-width: 60%;
      margin-left: auto;
      margin-right: auto;

      h3 {	
  	  	line-height: 1.75rem; 
  	  	margin-bottom:10px;
        letter-spacing: .4rem;

  		  @media #{$bp-mobile} {
  	  		font-size:14pt !important;
  				line-height: 30pt;
          letter-spacing: .2rem;
  		  }
      }

      .subtitle {
        font-size: 18px;
        margin-bottom: 30px;
        display: block;
    		line-height: 85%;
    		@media #{$bp-mobile} {
    			font-size:40pt !important;
    			line-height: 40pt;
    		}
			@media #{$bp-tab-md} {
				font-size:50pt !important;
    			line-height: 40pt;
			
			}
      }

      a {
        display: block;
        padding: 15px 50px;
        font-size: 18px;
        border-top: 2px solid white;
        display: inline-block;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          max-height: 0;
          -webkit-transition: max-height .5s ease;
          transition: max-height .5s ease;
          opacity: .5;
          z-index: -1;
        }
      }

      &:hover {
        a {
          &::after {
            max-height: 70px;
            -webkit-transition: max-height .5s ease;
            transition: max-height .5s ease;
          }
        }
      }

    }

  }

  &.half-width {
    .bg-image {
      @media only screen and (max-width: 1400px) {
        height: auto;
        padding-bottom: 100%;
      }
    }

    .img-block-wrap {
      display: inline-block;
      width: 50%;
      position: relative;

      &:first-of-type {
        border-right: 1px solid #f5f5f5;
      }

    }
  }
}

// import custom file
@import "./custom";