@mixin square-block() {
  height: auto;
  padding: 2rem 1rem;

  .ribbon-wrap {
    flex-direction: column;
  }
  .col-4 {
    width: 100%;
    text-align: center;

    &:first-child {
      margin-bottom: 2rem;
    }
  }
  .col-8{
  	width: 100%;
    text-align: center;
  }

  .ribbon-left-content {
    p {
      margin-bottom: 1rem;
      line-height: 2rem;
    }
  }
  .ribbon-right-content {
    flex-direction: column;
    p {
      margin-bottom: 1rem;
    }
  }
}

.square-block {
  @include square-block();
}

.inner_page_left-content {
  .block-ribbon {
    @extend .square-block;
  	a{
			margin-bottom:8px;
			display: block !important;
		}
    .ribbon-left-content {
      display: block !important;
    }
    
  }
  
}

.block-ribbon {
  height: 160px;
  background: $gold;
  color: $c-white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  clear: both;

  &.square-block {
    @extend .square-block;
  }

  .layout-content {
    width: 100%;
  }

  .ribbon-wrap {
    @include fixed-grid();
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media #{$bp-mobile} {
      flex-direction: column;
    }

  }

  .ribbon-left-content, .ribbon-right-content {
    p {
      margin: 0;
    }
    display: flex;
    align-items: center;

    @media #{$bp-mobile} {
      flex-direction: column;
    }

  }

  .ribbon-left-content {

    em {
      font-family: $TinosItalic;
      font-size: 2rem;
    }
    @media #{$bp-mobile} {
      justify-content: center;
      margin-bottom: 1.5rem;
    }
  }

  .ribbon-right-content {
    font-family: $MontserratRegular;
    justify-content: flex-end;
    p {
      font-size: .75rem;
      &:first-child {
        margin-left: 1rem;
        margin-right: 1rem;
      }
      @media #{$bp-mobile} {
        &:first-child {
          margin-bottom: 1rem;
        }
      }
    }
    a {
      color: white;

      &:hover {
        text-decoration: underline;
      }

      &.button {
        @include button(0 8px, $c-white, $c-white, $gold);
      }
    }
  }

  .ribbon-right-content {
    text-align: right;
  }

  @media #{$bp-desk-lg} {
    padding-left: $grid-padding;
    padding-right: $grid-padding;
  }

  @media #{$bp-mobile} {
    @include square-block();
    /*margin-left: -$grid-padding;
    margin-right: -$grid-padding;*/
  }

}