@for $i from 1 through $columns {
  .col-#{$i} {
    @include span($i);
    &.col-last {
      @include span($i last);
    }
  }
  // collapse all to 100%
  @if $i < 12 {
    .col-#{$i} {
      @media #{$bp-mobile} {
        @include span(12 of 12);
        &.col-last {
          @include span(12 of 12);
        }
      }
    }
  }
}

