/*
This file contains mixins and classes to be used
with @include and @extend.  Add any new mixins here.
*/

/*
Default grid should be the outer container for any susy grid
It is included as a class so it may be extended using @extend.
Change the padding here to change default outer grid padding.
Extend .default-grid on either the site container, or around
Individual components as necessary.
*/

@mixin default-grid($padding: $grid-padding) {
  @include container();
  padding-left: $padding;
  padding-right: $padding;
}

/*
The fixed-grid is fixed to 1200px
*/

@mixin fixed-grid($padding: 0) {
  @include container(1200px);
  padding-left: $padding;
  padding-right: $padding;
}

.default-grid {
  @include default-grid();
}

.fixed-grid {
  @include fixed-grid();
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin grow() {
  -webkit-transition: -webkit-transform .3s linear;
  transition: transform .3s linear;

  &:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: -webkit-transform .15s linear;
    transition: transform .15s linear;
  }
}

@mixin listReset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.screen-reader-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// Wordpress Specific
$wp-center: 5px auto 5px auto;
$wp-left: 5px 20px 20px 0;
$wp-right: 5px 0 20px 20px;

.aligncenter {
  display: block;
  margin: $wp-center;
}

.alignleft {
  float: left;
  margin: $wp-left;
  margin-left:-10%;
}

.alignnone {
  margin: $wp-left;
}

.alignright {
  float: right;
  margin: $wp-right;
  margin-right:-10%;
}

.negative_margin_left {
  margin-left:-10%;
}

.negative_margin_right {
  margin-right:-10%;
}

a {
  img {
    &.aligncenter {
      @extend .aligncenter;
    }

    &.alignleft {
      @extend .alignleft;
    }

    &.alignnone {
      @extend .alignnone;
    }

    &.alignright {
      @extend .alignright;
    }
  }
}

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}-webfont.eot');
    src: url('#{$file-path}-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$file-path}-webfont.woff') format('woff'),
    url('#{$file-path}-webfont.ttf') format('truetype'),
    url('#{$file-path}-webfont.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
      src: url('#{$file-path}-webfont.svg##{$font-family}') format('svg');
    }
  }
}

@mixin button($padding: 8px,$borderColor: $c-white, $textColor:$c-white, $accentColor:$gold) {
  padding: $padding;
  /*text-transform: uppercase;*/
  border: 1px solid $borderColor;
  color: $textColor;
  text-decoration: none;
  /*font-family: $MontserratRegular;*/
  transition: all 250ms ease;
  display: inline-block;
  @include montserrat-reg();
  &:hover {
    background: $borderColor;
    color: $accentColor;
  }

}

@mixin large-title() {
  @media #{$bp-mobile} {
    font-size: 2rem;
  }
  font-family: $PinyonScript;
  font-size: 4rem;
  text-transform: none;
  margin-top:4rem;
  letter-spacing: 0;
}

.large-title {
  @include large-title(); 
}

@mixin montserrat-reg() {
  font-family: "Montserrat-Regular", sans-serif;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 2px;
}
.montserrat-reg {
  @include montserrat-reg();
}

@mixin Tinos-Bold() {
  font-family: 'Tinos-Bold', serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 2px;
}
.Tinos-Bold {
  @include Tinos-Bold();
}


.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bot {
  padding-bottom: 0 !important;
}