// Colors

$c-white: #fff;
$c-black: #000;
$light-grey: #e6e6e6;
$medium-grey: #cacaca;
$dark-grey: #ccc;
$gold: #b5964e;
$off-white: #f2efe6;
$light-gold: #cca958;


// Layout
$block-padding: 2rem;
$bottom-margin: 2rem;
$grid-padding: 20px;

// Typography

$MontserratBold: 'Montserrat-Bold', sans-serif;
$MontserratRegular: 'Montserrat-Regular', sans-serif;
$TinosBold: 'Tinos-Bold', serif;
$TinosRegular: 'Tinos-Regular', serif;
$TinosItalic: 'Tinos-Italic', serif;
$PinyonScript: 'PinyonScript', serif;

$font-family-base: $TinosRegular;
$font-family-accent: $MontserratRegular;
$font-size-base: 15px;
$font-size-small: 14px;
$font-size-large: 16px;

// Media Queries
$bp-mobile: "only screen and (max-width: 768px)";
$bp-tab-landscape: "only screen and (max-width: 1024px)";
$bp-tab-sm: "only screen and (max-width: 768px)";
$bp-tab: "only screen and (max-width: 768px)";
$bp-tab-md: "only screen and (max-width: 900px)";
$bp-desk: "only screen and (max-width: 992px)";
$bp-desk-lg: "only screen and (max-width: 1200px)";

$big-tab-min: "only screen and (min-width: 900px)";
$big-tab-max: "only screen and (max-width: 1040px)";

// Susy Settings (add as needed in base)

$gutter-position: after;
$container: auto;
$columns: 12;
$gutters: .25;
$box-sizing: border-box;