.block-metadata_ribbon {
  height: 100px;
  color: $dark-grey;
  padding: 0;
  margin-left: -$grid-padding;
  margin-right: -$grid-padding;

  @media #{$bp-mobile} {
    height: auto;
  }

  .layout-content {
    @include fixed-grid();
    height: 90px;
    @media #{$bp-mobile} {
      height: auto;

      padding-left: $grid-padding;
      padding-right: $grid-padding;

    }
  }

  .metadata_ribbon-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $medium-grey;

    @media #{$bp-mobile} {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .metadata_ribbon-inner-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: $MontserratRegular;
    text-transform: uppercase;
    font-size: .875rem;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 2px;

    @media #{$bp-mobile} {
      padding-left: 0;
      padding-right: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: .7rem;

    }
  }

  .metadata_ribbon-inner-content-block {
    @media #{$bp-mobile} {
      margin-bottom: 1rem;
    }
  }

  .metadata_ribbon-share-icon {
    display: flex;
    align-items: center;
    .icon {
      fill: $dark-grey;
      height: 17px;
      margin-right: .5rem;
    }
  }
}