.block-accordion {
  padding-top: 0;
  padding-bottom: $block-padding;
  color:$c-white;

  h3 {
  }

  .accordion-wrapper {

    .accordion-content {
      padding-left:20px;
    }

    .accordion {
      border-bottom: 2px solid $light-grey;
      margin-top: 0;
      background:$c-white;

      dt {
        position: relative;
        padding: 30px 40px;
        border-top: 2px solid $light-grey;

        a {
          display: block;
          font-family: $TinosItalic;
          color:$c-black;
          font-size:2rem;
          font-style: italic;
        }

        svg {
          position: absolute;
          top: 33px; // match padding + extra to center
          right: 40px;
          width: 30px;
          height: 30px;
          fill:$gold;

          &.acc-minus {
            display: none;
            &:first-of-type {
              -webkit-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                      transform: rotate(90deg);
            }
          }
        }

        &.active {
          svg.acc-plus {
            display: none;
          }

          svg.acc-minus {
            display: block;
          }
        }
      }

      dd {
        margin: 0;
        padding-left: 40px;
        padding-right: 40px;
        color:$c-black;
        p {
          color:$c-black;
        }
      }
    }
  }

  @media #{$bp-tab} {
    h3 {
      @include span(12);
      text-align: center;
    }

    .accordion-wrapper {
      @include span(12);
    }
  }

  @media #{$bp-mobile} {
    .accordion-wrapper {
      .accordion {
        dt, dd {
          padding-left: 20px;
          padding-right: 20px;
        }

        dt {
          svg {
            right: 20px;
          }
        }
      }
    }
  }
}

