.block-three_image_grid, .block-three-image-grid {

    @media #{$bp-mobile} {
      /*margin-left: -$grid-padding;
      margin-right: -$grid-padding;*/
      padding-bottom: 0;
    }

  .layout-content {
    width: 100%;

    @media #{$bp-mobile} {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .three-image-grid-wrap {
    @include fixed-grid();

    @media #{$bp-mobile} {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
	@media #{$bp-desk-lg} {
		padding-left: 15px;
      padding-right: 15px;
	}
	
  }

  .title {
    text-align: center;
  }
  .large-img-container, .small-img-container {
    height: 580px;
  }
  .small-img-container {
    @media #{$bp-mobile} {
      height: auto;
    }
  }
  .large-img-container {
    @media #{$bp-mobile} {
      height: 300px;
      margin-bottom: 2rem;
    }
  }

  .small-img, .large-img {
    position: relative;
    .img-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .small-img {
    position: relative;
    height: 280px;
    background-size: cover;
    &:last-child {
      margin-top: 20px;
    }

    .img-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 30%;
    }
    @media #{$bp-mobile} {
      height: 300px;
      margin-bottom: 2rem;
      &:last-child {
        margin-top: 0;
      }
    }
  }
  .large-img {
    height: 100%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;

    .img-content {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 70%;
    }
    @media #{$bp-mobile} {
      height: 300px;
      .img-content {
        top: 30%;
      }
    }
  }

  .img-content {
    h4 {
      color: $c-white;
      font-size: 1.4rem;
      line-height: 1.4rem;
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 2px;
    }
    a {
      @include button(8px, $c-white, $c-white, $gold);

      &:hover {
        background: $gold;
        color: $c-white;
        border-color: $gold;
      }
    }
    padding: 40px;
  }

}