.block-multi {
  position: relative;
  /*margin-left: -$grid-padding;
  margin-right: -$grid-padding;*/
  padding-top: 0;
  padding-bottom: 0;

  .layout-content {
    height: 700px;
    width: 100%;
    @media #{$bp-mobile} {
      height: auto;
    }
  }

  .multi-content-wrap {
    @include fixed-grid();
    height: 100%;
  }

  .inner-multi-content {
    @include vertical-align(relative);
    @media #{$bp-mobile} {
      top: 0;
      transform: none;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 700px;
    width: 100%;
    background-size: cover;
    background-position: top center;

    .img-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    @media #{$bp-mobile} {
      height: 100%;
    }

  }

  .title {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    color: white;
	@media #{$bp-mobile} {
		width:90%;
		margin:0 auto;
	}

    a {
      @include button(8px, $gold, $gold, $c-white);
    }
  }

}