.block-generic_content {
  padding-bottom: 2rem;
  padding-top: 2rem;

  @media #{$bp-mobile} {
    padding: 1rem 15px;
  	margin:0 auto !important;
  }

  &.white-bg {
    /*background: $c-white;*/
  }

  .gc-wrap {
    @include fixed-grid();

  	em {
  		line-height: 2rem;
    }
  }

  .accent-text-subtitle {
    @media #{$bp-mobile} {
      font-size: 4rem;
      text-transform: none;
    }
    font-family: $PinyonScript;
    font-size: 6rem;
    text-transform: none;
  }

  h3 {
    text-align: center;
    font-family: $TinosBold;
	/*padding-top: 2rem;*/
  }

  &.button-links {
    a {
      @include button(8px, $gold, $gold, $c-white);
    }
  }

  .gc-content {

    > *:last-child {
      margin-bottom: 0;
    }

    img.alignright,img.alignleft {
      @media #{$bp-mobile} {
        float:none;
      }
    }
    @media #{$bp-mobile} {
      img {
        width:100%;
        height: auto;
      }
    }

  }

  @for $i from 1 through 10 {
    &.limit-#{$i} {
      .gc-content {
        max-width:#{$i}0%;
        margin:  0 auto;

        @media #{$bp-mobile} {
          max-width:100%;
        }

      }
    }
  }

  // super hacky way to select the callout text at the beginning of the page
  &.limit-4 em {
    font-size: 1.8rem;
	line-height: 2rem;
  }

.real-patient-ratings-feed{
	@media #{$bp-mobile} {
          width:90%;
		  margin:0 auto;
		  
        }
	a{
		img{
			max-width:92%;
			width:auto;
		}
	}
}
ul, ol{
	padding:0 0 0 15px;
}
}

.block-generic_content .rpr-answers p.review img{
	max-width:100%;
}

